#HeaderImage {
    max-width: 100%;
}

#SiteMapPathTop {
    float: left;
}

#SiteMapsListLeft {
    height: 100%;
    width: 20%;
    clear: left;
    float: left;
}

#PlaceholderCenter {
    float: left;
}

#LoginStatusRight {
    height: 100%;
    width: 10%;
    float: right;
}
/** questions:
    - how to get gridview column count? -> so as to be able to use gridview just for data (and not to show them)
    - how to add hyperlinks to gridview?
    - how to use paging in gridview?
*/