.HeaderImage {
    width: 100%;
}

#SiteMapPathTop {
    float: left;
}

#SiteMapsListLeft {
    height: 100%;
    width: 20%;
    clear: left;
    float: left;
}

#loginDiv {
    padding: 5px;
    height: 100%;
    width: 10%;
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F8EDA5;
}

#PlaceholderCenter {
    float: left;
    margin-top: 50px;
    margin-left: 50px;
}

body {
    background-image: linear-gradient(to bottom, #6ac2f0, #8bcaf3, #a7d3f5, #bfdcf7, #d4e5f8);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ExpenditureRow {
    background-color: #F8D4DA;
}

.NegativeAmountLabel {
    color: #f00;
}

.IncomeRow {
    background-color: #AFF9AF;
}

.PositiveAmountLabel {
    color: #00b10e;
}

.HeaderRowGridView {
    background-color: #F8F9CC;
}

.GridViewRow {
    background-color: #B6F4FD;
}

html {
    height: 100%;
    font-family: Didot;
}

#FooterBottom {
    bottom: 0;
    width: 100%;
    text-align: center;
    clear: left;
    float: left;
    margin-top: 20px;
}

.totalAmountdiv {
    font-size: 50px;
}
