<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!-- Needed to connect to the local database -->
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- Passwords on signup only need 3 characters at minimum -->
    <membership>
      <providers>
        <remove name="ASPNetSqlMembershipProvider"/>
        <add name="ASPNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>
    <!-- Allows the use of more sitemaps -->
    <siteMap enabled="true">
      <providers>
        <add name="AdministratorSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/administrator.sitemap"/>
        <add name="MemberSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/member.sitemap"/>
      </providers>
    </siteMap>
    <!-- Idk what this is for -->
    <authentication mode="Forms"/>
    <roleManager enabled="true"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <!--Avoid JavaScript validation error-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>